<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org/" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/catalog.css">
    <link rel="shortcut icon" href="/img/icons/logo.ico">
    <title>My Video Shop</title>
</head>

<body class="d-flex h-100 text-center text-bg-dark">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <!-- Header -->
        <div th:replace="layout/header :: header">...</div>
        <main>
            <div class="container">
                <!-- Galery -->
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-2">
                        <div class="d-flex flex-column flex-shrink-0 text-bg-gray m-auto text-center">
                            <a href="#" class="mb-md-0 me-md-auto text-white text-decoration-none">
                                <span class="fs-4">Categories</span>
                            </a>
                            <hr>
                            <ul class="nav nav-pills flex-column mb-auto gap-2">
                                <li th:each="cat: ${categories}" class="nav-item">
                                    <a th:href="@{/catalog/{id}(id=${cat.id})}"
                                        th:class="'nav-link ' + ${cat.id == id ? 'active' : ''}" aria-current="page">
                                        <span th:text="${cat.name}">Home</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Catalog List -->
                    <div th:if="${error != null}" class="col-sm-12 col-md-9 text-center">
                        <div th:text="${error}" class="alert alert-warning text-dark" role="alert" id="error">
                            Error
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-10 pt-5 text-center" th:if="${error == null}">
                        <div th:if="${id == null}">
                            <p class="h2">Select one category</p>
                        </div>
                        <div class="row d-flex justify-content-center" th:if="${id != null}">
                            <div class="col" th:if="${movies.isEmpty()}">
                                <p>No videos avaliable in this category :(</p>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2" th:if="${!movies.isEmpty()}"
                                th:each="movie : ${movies}">
                                <div class="card-group">
                                    <div class="card">
                                        <!-- img thumbnail card -->
                                        <div th:if='${movie.getImageUrl().equalsIgnoreCase("null")}'>
                                            <img src="/img/thumbnail.jpg" alt="" class="card-img-top">
                                        </div>

                                        <div th:if='${!movie.getImageUrl().equalsIgnoreCase("null")}'>
                                            <img th:src="|/img/${movie.getImageUrl}.jpg|" alt="" class="card-img-top">
                                        </div>
                                        <!-- end img thumbnail -->
                                        <div class="card-body text-dark">
                                            <h5 th:text="${movie.name}" class="card-title">Card Title</h5>
                                            <p th:text="${movie.description}" class="card-text">
                                                This is a wider card with supporting text below as
                                                lead-in to additional content. This content is a little bit
                                                longer.
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-secondary">View</button>
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-secondary">Edit</button>
                                                </div>
                                                <small class="text-muted">
                                                    <span th:text="|${movie.duration} mins.|">9 mins</span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </main>
        <footer th:replace="layout/footer :: footer">...</footer>
    </div>



</body>
<script src="/js/isLoged.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>