<!DOCTYPE html>
<html class="h-100" lang="es" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Thanks you for contact me!</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${info.name}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${info.email}"></td>
        </tr>
        <tr>
            <td>Subject</td>
            <td th:text="${info.subject}"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${info.message}"></td>
        </tr>

    </table>
</body>

</html>